html {

}

body {
    background: #041E4B;
    color: #3BECC4;
}

.no-pad {
    pading: 0 !important;
}

h1 {
    font-variant: all-small-caps;
    text-transform: uppercase;
    font-size: 3vh;
    letter-spacing: 0.3vw;
    word-spacing: 0.5vw;
}