/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}

/*
 * Base structure
 */

html,
body {
    height: 100%;
    /*background-color: #041742;*/
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;

    color: #fff;
    /*text-shadow: 0 .05rem .1rem rgba(8, 200, 158, 0.5);*/
    /*box-shadow: inset 0 0 5rem rgba(4, 21, 67, 0.5);*/

    /*font-family: 'Michroma', sans-serif;*/
    /*font-family: 'Raleway', sans-serif;*/
    /*font-family: 'Overlock', sans-serif;*/
    /*font-family: 'El Messiri', sans-serif;*/
    font-family: 'Assistant', sans-serif;

}

.vc_video-bg {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

.rella-row-overlay {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.video-bg {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    height: 100vh;
}

.video-overlay {
    background-color: rgba(255, 113, 0, 0.84);
    height: 100vh;
    width: 100%;
    position: absolute;
}

.overlay {
    /*max-width: 42em;*/
    background-color: rgba(4, 23, 66, 0.1);

}

/*
 * Header
 */
.masthead {
    height: 100vh;
    z-index: 1;
    position: relative;
}

/*
 * Cover
 */
.cover {
    /*padding: 0 1.5rem;*/
    margin-top: -100px;
    z-index: 999;
    background: #FF7100;
    position: relative;
    display: flex;
    flex-direction: column;
}

.lead {
    font-variant: all-small-caps;
    text-transform: uppercase;
    font-size: 3vh;
    letter-spacing: 0.3vw;
    word-spacing: 0.5vw;
    position: absolute;
    z-index: 999;
    top: 30%;
    /*width: 50%;*/
    left: 10%;
}

.section {
    font-weight: 500;
    font-size: 2em;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    float: left;
    text-align: center;
}

.overlay {
    background: rgba(4, 21, 67, 0.96);
    display: flex;
    width: 100%;
}

.section:nth-child(1) {
    height: 100vh;
    line-height: 100vh;
    background: #FF9900;
    justify-content: space-between;
    /*display: flex;*/
    /*flex-wrap: ;*/
    /*background: url("../bak1.jpg");*/
    /*background-size: cover;*/
    /*background-position: right;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
}

#home-banner .lead {
    display: flex; /* establish flex container */
    flex-direction: row; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center; /* center items horizontally, in this case */
    /*height: 100vh;*/
    width: 50vw;
    text-align: left;
    padding: 2rem;
}

.section:nth-child(2) {
    height: 90vh;
    line-height: 90vh;
    background: #C4CC72;
}

.section:nth-child(3) {
    height: 70vh;
    line-height: 70vh;
    background: #999788;
}

.section:nth-child(4) {
    height: 40vh;
    align-items: center;
    justify-content: space-around;
    line-height: inherit;
    /*background: url("/wp-content/themes/zestBoot4/assets/images/team-bak4-1.jpg");*/
    /*background-size: cover;*/
}

.section i {
    width: 32px;
    height: 32px;
    position: absolute;
    color: #fff;
    bottom: 5%;
    left: 50%;
    margin-left: -16px;
}

.navi {
    bottom: 5%;
    position: absolute;
    left: 50%;
    color: rgba(255, 255, 255, 0.75);

}

.wallet .icon svg {
    padding: 20px;
    border: 3px solid;
    border-radius: 100%;
    box-shadow: 1px 1px 6px 2px #0a164e14;
    width: 10rem;
    height: 10rem;
}

.wallet .icon {
    /*font-size: 10em;*/

}

/*
 * Footer
 */
.mastfoot {
    color: rgba(255, 255, 255, .5);
}